::selection {
  background: #c1eee6;
}

::-moz-selection {
  background: #c1eee6;
}

body {
    background-color: #f2f2f2;
    font-family: 'Roboto Mono', monospace;
}

#header {
    text-align: center;
    background: #f2f2f2;
    padding: 48px 0 55px 0;
}

h1 {
    color: #222222;
    font-family: 'David Libre', serif;
}

h4, h5 {
    font-family: 'Roboto Mono', monospace;
}

span {
    color: #9f9f9f;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

.header {
    padding: 240px 8.33333% 0;
}

.content {
    padding: 120px 8.33333% 0;
}

.homework-header {
    margin-bottom: 36px;
}

a {
    font-size: 1.25rem;
    color: #9f9f9f;
    border-bottom: 1px dotted #ccc;
    border-radius: 4px;
    padding: 6px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    background: #c1eee6;
    color: #444f4f;
}

a:focus {
    color: #9f9f9f;
}

.homework-row {
    margin-bottom: 24px;
}
